* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Gray */
    --base-color-neutral-13: #1f2328;
    --base-color-neutral-11: #393f46;
    --base-color-neutral-8: #818b98;
    --base-color-neutral-3: #e6eaef;

    /* Blue */
    --base-color-blue-5: #0969da;
    --base-color-blue-0: #ddf4ff;
    --base-color-blue-1: #b6e3ff;
    --base-color-blue-4: #218bff;

    /* Green */
    --base-color-green-0: #dafbe1;
    --base-color-green-1: #aceebb;
    --base-color-green-4: #2da44e;
    /* Yellow */
    --base-color-yellow-0: #fff8c5;
    --base-color-yellow-1: #fae17d;
    --base-color-yellow-4: #bf8700;

    /* Red */
    --base-color-red-0: #ffebe9;
    --base-color-red-1: #ffcecb;
    --base-color-red-4: #fa4549;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 16px;
}

body {
    color: var(--base-color-neutral-13);
}

a {
    text-decoration: none;
    color: var(--base-color-neutral-13);
}

a:hover {
    color: var(--base-color-blue-5);
}

p, span, a {
    font-size: 1rem;
    line-height: 1.5;
    text-wrap: pretty;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 860px;
}

.heatmap-wrapper {
    padding: 20px;
    border: 0.5px solid var(--base-color-neutral-8);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.form-wrapper {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: end;
}

.form-wrapper label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-wrapper label input {
    height: 40px;
    border: 0.5px solid black;
    padding: 0px 14px;

}

.form-wrapper button {
    height: 40px;
    width: 250px;
    border: none;
    outline: none;
    cursor: pointer;
}
