* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --base-color-neutral-13: #1f2328;
    --base-color-neutral-11: #393f46;
    --base-color-neutral-8: #818b98;
    --base-color-neutral-3: #e6eaef;
    --base-color-blue-5: #0969da;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

body {
    color: var(--base-color-neutral-13);
}

a {
    text-decoration: none;
    color: var(--base-color-neutral-13);
}

a:hover {
    color: var(--base-color-blue-5);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heatmap-wrapper {
    padding: 20px;
    border: 0.5px solid var(--base-color-neutral-8);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.form-wrapper {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: end;
}

.form-wrapper label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-wrapper label input {
    height: 40px;
    border: 0.5px solid black;
    padding: 0px 14px;

}

.form-wrapper button {
    height: 40px;
    width: 250px;
    border: none;
    outline: none;
    cursor: pointer;
}
